*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    color: #333;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

img {
    max-width: 100%;
    height: auto;
  }

.wrapper{
    margin: 100px auto;
    width: 600px;
}

.wrapper__title{
    text-align: center;
    margin-bottom: 100px;
}

.accordion li{
    width: 100%;
    list-style: none;
    margin-bottom: 10px;
    background: #4dffe1;
    padding: 3% ;
    border-radius: 10px;
}

.meminfo{
    display: flex;
    flex-direction: row;
}
.meminfo__title{
    width: 90%;
}

.meminfo__title label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    color: #8482e9;
}

.meminfo__input:checked + .content{
    max-height: 400px;
} 

.meminfo__plus{
    width: 10%;
    display: none;
}
.meminfo__minus{
    width: 10%;
    top: 50%;
    left: 50%;
    display: none;
}
.meminfo__input {
    display: none;
}

.accordion .content{
    padding: 0 3%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

@media (min-height: 568px) and (min-width: 320px) {
    
}

@media (min-height: 1180px) and (min-width: 820px) {
    
}

@media (min-height: 1080px) and (min-width: 1920px) {
    .accordion:hover label{
        color: rgb(0, 4, 255);
    }
    .accordion:hover .meminfo__minus{
        color: rgb(0, 4, 255);
    }
    .accordion:hover .meminfo__plus{
        color: rgb(0, 4, 255);
        display: block;
        
    }
}